:root {
  font-family: 'Montserrat' , sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  outline: none;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  background-image: url('https://images8.alphacoders.com/110/1102284.jpg');
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.body {
  padding: 0;
  margin: 0;
  place-items: center;
  min-width: 80vh;
  min-height: 100vh; 
}

.flags {
  padding: 0px;
  margin: 40px;
  place-items: center;
}

.header {
  padding: 0;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vh;
  min-height: 10vh;
}

h1 {
  font-family: 'Montserrat' , sans-serif;
  font-weight: 900;
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #e213bc;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
